body{
    background-color: white;
    
}

.flow-explorer-select-node{
    min-width: 200px;
}



.flow-param-input-field{
    margin-left: 5px !important;
    margin-right:5px !important;
}


.flow-param-input-field .input-field-focused::after{
    border-bottom: 2px solid #ec1d24;
}


.flow-param-input-field .input-field-label.input-field-label-focused{
    color: black;
}

.flow-param-input-field .flow-run-button{
    position: absolute;
    top:0px;
    
}

.flow-details-card{
    width: 100%;
}


#vault-info-display-table-body  .vault-info-display-table-row{
    background-color: #FDE8E9 !important;
}

#vault-info-display-table-body .vault-info-display-table-row:hover{
    background-color: #F7A5A7 !important;
}


.snackbar-content-success{
    background-color: #4BB543 !important;

}

.snackbar-content-error{
    background-color: #ec1d24 !important;

}

.snackbar-content-info{
    background-color: #00a2ed !important;
}
.snackbar-message{
    display: flex !important;
    align-items: center !important;
    width: 20vw;
    height: 10vh;
    
}

.snackbar-message-text{
    margin-left:5px !important;
}
