body{
    background-color: var(--vscode-editor-background);
}


.select-display{
    min-width: 220px;
}



.flow-param-input-field{
    margin-left: 5px !important;
    margin-right:5px !important;
}

.selection-box{
    color: var(--vscode-editor-foreground);
}

.description-block{
    color: var(--vscode-descriptionForeground)
}
.selection-box-label{
    color:var(--vscode-editor-foreground) !important;
}
.selection-box-icon{
    color:var(--vscode-editor-foreground) !important; 
}
.selection-box-underline::after{
    border-bottom: 2px solid var(--vscode-editor-selectionHighlightBackground) !important;
}
.selection-box-dropdown{
    background-color: var(--vscode-dropdown-background) !important;
    color: var(--vscode-dropdown-foreground) !important;
}

.input-field::after{
    border-bottom: 3px solid var(--vscode-editor-selectionHighlightBackground) !important;
}

.input-field{
    color: var(--vscode-editor-foreground) !important;
}
.input-field-label{
    color: var(--vscode-editor-foreground) !important;
}

.selection-box-label-focused{
    color:var(--vscode-descriptionForeground) !important;
}

.input-field-label.input-field-label-focused{
    color: var(--vscode-descriptionForeground) !important;
}

.button-component{
    background-color: var(--vscode-button-background) !important;
    color: var(--vscode-button-foreground) !important;
}

.button-component:hover {
    background-color: var(--vscode-button-hoverBackground) !important;
}

.flow-param-input-field .flow-run-button{
    position: absolute;
    top:0px;
    
}

.flow-details-card{
    width: 100%;
}

#vault-info-display-table * {
    
    border: 0px !important;
    color: var(--vscode-sideBar-foreground) !important;
}
#vault-info-display-table-body{
    background-color: var(--vscode-sideBarSectionHeader-background) !important;

}
#vault-info-display-table-body  .vault-info-display-table-row{
    background-color: var(--vscode-sideBarSectionHeader-background) !important;
    
}

#vault-info-display-table-body .vault-info-display-table-row:hover{
    cursor: pointer;
}

.table-pagination *{
    color:var(--vscode-sideBar-foreground);
}
.state-card{
    background-color: var(--vscode-sideBar-background) !important;
}
.snackbar-content-success{
    background-color: #4BB543 !important;

}

.snackbar-content-error{
    background-color: #ec1d24 !important;

}

.snackbar-content-info{
    background-color: #00a2ed !important;
}
.snackbar-message{
    display: flex !important;
    align-items: center !important;
    width: 300px;
    height: 100px;
    scroll-behavior: smooth !important;
    overflow: auto !important;
    
}

.snackbar-message-text{
    margin-left:5px !important;
}
