.node-explorer-container{
    margin-left:0px;
    width:100vw;
    height:100vh;
    background-color: white;
}

.logo-display{
    position: fixed;
    height: 40vh;
    top:30vh;
    left:42vw;
    z-index: 9;
}

.return-icon{
    position: fixed;
    color: #ec1d24;
    cursor: pointer;
    z-index: 9;
}
.return-button{
    font-size:30px;
}