body{
    background-color: white;
    
}

html, body {
    overflow: hidden;
}
CardCarousel{
    padding-top:75vh;
}

NodeViewer{
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
    left:0;
    color: black;
}